version: 2
workflows:
  version: 2
  CICD_TEST:
      jobs:
        - build
jobs:
  gcp-create-vm:
      working_directory: ~/project
      docker:
      - image: google/cloud-sdk
      steps:
      - run:
          name: Authorize Google Cloud
          command: | 
              echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
              gcloud --quiet config set project chrome-frame-227023
              gcloud --quiet config set compute/zone asia-southeast1-b
      - attach_workspace:
          at: ~/project/pakcer-do
      - run:
          name: Set ENV
          command: |
            echo "export IMAGE_BASE=$(cat image_base.txt)" >> $BASH_ENV
      - run:
          name: Show image name
          command: echo $IMAGE_BASE
      - run:
          working_directory: ~/project
          name: Set project metadata
          command: gcloud compute project-info add-metadata --metadata latest_image_base="$IMAGE_BASE"
    
  build:
    working_directory: ~/project
    machine: true
    steps:
        - checkout
        - run:
            name: Docker Build 
            command: |
                TAG=0.1.$CIRCLE_BUILD_NUM
                docker build -t   [changeme]/app:$TAG .
                docker login -u $DOCKER_USER -p $DOCKER_PASS
                docker push [changeme]/app:$TAG
