version: 2
workflows:
  version: 2
  CICD_TEST:
      jobs:
        - build:
          filters:  # using regex filters requires the entire branch to match
            branches:
              only:  # only branches matching the below regex filters will run
                - dev
        - Unit_test:
          filters:
            branches:
              only: stage
        - Deploy:
            filters:
                branches:
                only: master
jobs:
  build:
    working_directory: ~/project
    machine: true
    steps:
        - checkout
        - run:
            name: Docker Build 
            command: |
                TAG=0.1.$CIRCLE_BUILD_NUM
                docker build -t   [changeme]/app:$TAG .
                docker login -u $DOCKER_USER -p $DOCKER_PASS
                docker push [changeme]/app:$TAG
  Unit_test:
    working_directory: ~/project
    machine: true
    steps:
        - checkout
        - run:
            name: Unit_test
            command: |
                echo "Unit_test"
  deploy:
    working_directory: ~/project
    machine: true
    steps:
        - checkout
        - run:
            name: deploy Production
            command: |
                echo "deploy Production"
