version: 2.1
workflows:
  version: 2
  CICD_DEMO:
    jobs:
      - build:
          filters:
            branches:
              only:
                - dev
                - staging
      - test:
          filters:
            branches:
              only:
                - staging
                - dev
      - deploy:
          filters:
            branches:
              only:
                - master
jobs:
    build:
        working_directory: ~/project
        machine: true
        steps:
            - checkout
            - run:
                name: Docker Build 
                command: |
                    echo "Build"
    test:
        working_directory: ~/project
        machine: true
        steps:
            - checkout
            - run:
                name: Test
                command: |
                    echo "Test"
    deploy:
        working_directory: ~/project
        machine: true
        steps:
            - checkout
            - run:
                name: Deploy
                command: |
                    echo "Deploy"
       
       